@model Projeto.Apresentacao.Models.HomeViewModelCadastro

@{
    ViewBag.Titulo = "Esqueceu a senha";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TECHDOG</title>



    <link rel="stylesheet" type="text/css" href="~/assets/stylesheets/vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/stylesheets/algaworks.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/stylesheets/application.css" />



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .my-erro-alerta ul li {
            list-style-type: none;
            font-family: verdana;
        }
    </style>
</head>
<body class="aw-layout-simple-page">

    @using (Html.BeginForm())
    {


        <div class="aw-layout-simple-page__container">


            <!-- Checando se o formulário foi validado -->
            @if (!Html.ViewData.ModelState.IsValid)
            {

                <div class="alert  alert-danger  alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div align="center">
                        @Html.ValidationSummary("", new { @class = "my-erro-alerta" })
                    </div>
                </div>

            }

            @if (ViewBag.MsgSucesso != null & ViewBag.MsgSucesso is string)
                {

                <div class="alert  alert-success  alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div align="center">@ViewBag.MsgSucesso</div>
                </div>

            }



            @if (ViewBag.MsgErro != null & ViewBag.MsgErro is string)
                {

                <div class="alert  alert-danger  alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div align="center">
                        @ViewBag.MsgErro
                    </div>
                </div>

            }

            <div class="aw-simple-panel">
                <img alt="gerenciaweb" src="~/assets/images/logo-gray.png" />

                <div class="aw-simple-panel__message">
                    Informe os dados abaixo para poder ter acesso ao sistema.
                </div>

                <div class="aw-simple-panel__box">
                    <div class="form-group  has-feedback">

                        @Html.TextBoxFor(model => model.Nome,
                           new
                           {
                               @class = "form-control input-lg",
                               @placeholder = "Nome do usuário"
                           })


                        <span class="glyphicon  glyphicon-user  form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="form-group  has-feedback">

                        @Html.TextBoxFor(model => model.Email,
                           new
                           {
                               @class = "form-control input-lg",
                               @placeholder = "Email do usuário"
                           })

                        <span class="glyphicon  glyphicon-envelope  form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="form-group  has-feedback">

                        @Html.TextBoxFor(model => model.Senha,
                           new
                           {
                               @class = "form-control input-lg",
                               @placeholder = "Senha de acesso",
                               @type = "password"
                           })

                        <span class="glyphicon  glyphicon-lock  form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="form-group  has-feedback">

                        @Html.TextBoxFor(model => model.RepitaSenha,
                           new
                           {
                               @class = "form-control input-lg",
                               @placeholder = "Repita a senha",
                               @type = "password"
                           })

                        <span class="glyphicon  glyphicon-lock  form-control-feedback" aria-hidden="true"></span>
                    </div>

                   


                    <div class="form-group">
                        <button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width">Cadastrar</button>
                    </div>

                </div>

                <div class="aw-simple-panel__footer"> <a href="/Home/Login">Já possuo cadastro</a>.</div>
            </div>

        </div>

    }
    <script src="~/assets/javascripts/vendors.min.js"></script>
    <script src="~/assets/javascripts/algaworks.min.js"></script>
</body>
</html>